<div class="container-fluid">
  <h4 style="text-align: center"></h4>
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Enter Tracking Number" [(ngModel)]="search">
    </div>
    <div class="offset-col-7 col-2">
      <button class="btn btn-primary" (click)="track()" >Track</button>
    </div>
  </div>
  <br><br>
  <div style="height: 100%; width: 100%;" *ngIf="order">
    <div *ngIf="order.length !== 0">
        

          <h4>Order ID: {{order[0].orderid}}</h4>
        
          <h4>Destination: {{order[0].to}}</h4>
          <table *ngIf="tracking" style="width: 100%;" class="table align-items-center">
            <thead class="thead-light">
              <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tracking.status">
                <td>{{item.status}}</td>
                <td>
                  {{item.date}}
                </td>
                <td>{{item.time}}</td>
                <td>{{item.location}}</td>
                <td>{{item.remarks}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  </div>