<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary mt-4" id="navbar" >
    <div class="container">
      <a class="navbar-brand" href="#">
          <img src="../../assets/../../assets/img/logo.png" alt="KS Logistics" style="width: 125px; height: 100px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-primary">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <!-- <a href="../../index.html">
                <img src="../../assets/img/logo.png"  style="w"/>
              </a> -->
              <h1>KS Logistics</h1>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" style="color: black !important;" >Tracking<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: black !important;">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: black !important;">Sign In</a>
        </ul>
      </div>
    </div>
  </nav>