<div class="card" style="max-width: 320px; margin: 0 auto">
  <img class="card-img-top" src="./../../assets/img/logo.png" alt="Card image cap" style="max-width: 120px !important; margin: 0 auto;">
  <div class="card-body">
    <div class="container-fluid">
        <form [formGroup]="form" (ngSubmit)="login(form)" >
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Email" type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
          <a style="font-size: 0.8em; color: #5B648F; position: relative; top: -10px !important; ">Recover Password</a>
          <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || form.pristine" style="width: 100%" >Sign In</button>
        </form>
        <br>
        <span style="text-align: center"><a  (click)="signup()" >SIGN UP</a></span>
    </div>
  </div>
</div>