<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #29292B !important;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <div class="col-3"></div>
      <div class="col-6">


        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="btn-floating">
                  <i class="fab fa-facebook-f" style=" font-size: 40px !important;"></i>
              </a>
            </li>
            <li class="list-inline-item" style="padding-left: 25px !important;">
              <a class="btn-floating">
                  <i class="fab fa-twitter"style=" font-size: 40px !important;"></i>
              </a>
            </li>
            <li class="list-inline-item" style="padding-left: 25px !important;">
              <a class="btn-floating ">
                  <i class="fab fa-instagram" style=" font-size: 40px !important;"></i>
              </a>
            </li>
            <li class="list-inline-item" style="padding-left: 25px !important;">
              <a class="btn-floating ">
                  <i class="fab fa-linkedin-in" style=" font-size: 40px !important;"></i>
              </a>
            </li>
            <li class="list-inline-item" style="padding-left: 25px !important;">
              <a class="btn-floating">
                  <i class="fab fa-youtube" style=" font-size: 40px !important;"></i>
              </a>
            </li>
          </ul>

        </div>

      </div>

      <hr style="color: black !important; width: 100% !important;">

      <div class="row">
          <div class="col-3">
              <img src="../../../assets/img/logo.png" style=" width: 200px !important;
              height: 150px !important; margin-top: -30px !important;">
          </div>
          <div class="col-3">

              <ul class="list-unstyled">
                  <li>
                    <a routerLink="/orders" style="color: white !important;" class="ah">Orders</a>
                  </li>

                </ul>

          </div>
          <div class="col-3">

              <ul class="list-unstyled">
                  <li>
                    <a style="color: white !important;">About Us</a>
                  </li>
                </ul>

          </div>
          <div class="col-3">

              <ul class="list-unstyled">
                  <li>
                    <a href="#!" style="color: white !important;"> Terms and Conditions</a>
                  </li>
                  <li>
                    <a href="#!" style="color: white !important;"> Privacy Policy</a>
                  </li>
                  
                </ul>

          </div>

                  

      </div>

      </div>
      <hr style="color: black !important; width: 100% !important;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white !important;">© 2018 Copyright:
    <a  style="color: white !important;">KS Logistics</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->